# Local sensitive configs - TUYỆT ĐỐI KHÔNG ĐƯA LÊN GITHUB
config.json
.env
*.env

# Local database & uploaded videos
uploads/
data/history.json
# Giữ lại kho sản phẩm để lưu trữ trong Git Repo:
# data/

# Python cache & logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
